.datepad-wrapper{
    position: relative;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: inherit;

    .tool{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        height: 20%;

        .title-input{
            width:15rem;
            height: 2rem;
            line-height: 2rem;
            font-size: 1.2rem;
            text-align: center;
            outline: none;
        }

        button{
            color: #Fff;
        }
    }

    .date-list{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 80%;
        height: 75%;
        overflow-y: scroll;

        section{
            position: relative;
            margin: 5rem 3rem 0 3rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-shrink: 0;
            padding: 0 1rem;
            width: 14rem;
            height: 14rem;
            line-height: 2rem;
            box-shadow: inset 0px 0px 10px #fff;
            border-radius: 2rem;
            overflow:hidden;
            transition: 1s linear;
            span{
                color: #Fff;
            }
            .title{
                position: absolute;
                top: 10%;
                left: 50%;
                transform: translateX(-50%);
                font-size: 1.2rem;
            }
            .count{
                padding: 0.5rem;
                display: inline-block;
                position: absolute;
                width: 100%;
                height: 20%;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                text-align: center;
                color: inherit;
                font-size: 1.5rem;
                line-height: 1.5rem;
                background-color: #fff;
            }
            .date{
                position: absolute;
                bottom: 5%;
                left: 50%;
                transform: translateX(-50%);
                font-size: 1.2rem;
            }
        }

        section:hover{
            transform: translateY(-1rem);
        }

        section:nth-of-type(odd){
            margin-top: 0;
        }
    }
}