.mottopad-wrapper{
    position: relative;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: inherit;

    header{
        width: 100%;
        height: 33%;
    }
    
    .motto-wrapper{
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 0 2rem;

        .motto{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            span{
                display: inline-block;
                width: 100%;
                font-size: 2rem;
            }

            .hitokoto{
                text-align: left;
            }

            .from{
                text-align:right;
            }
        }
    }

    .tool{
        width: 100%;
        height: 33%;
        display: flex;
        justify-content: center;
        align-items: center;

        button{
            margin: 0 2rem;
            width: 8rem;
            height: 2.5rem;
            font-size: 1.2rem;
            color:#2f3640;
            background-color: #fff;
            outline: none;
            border: 0;
            border-radius: 1rem;
            box-shadow: inset 0px 0px 10px #fff;

            i{
                font-size: 1.5rem;
                margin-right: 0.5rem;
            }
        }
    }

    #copy{
        position: absolute;
        opacity: 0;
    }
}